<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}My only site{{end}}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a class="sidebar-nav-item" href="{{ .Site.BaseURL }}">Home</a> </li>
        {{ range sort .Site.Menus.main "Weight" -}}
        	{{if eq .Name "Github"}}
        		<li><a target="_blank" class="sidebar-nav-item" href="{{.URL}}"> {{ .Name }} </a></li>
        	{{else}}
          		<li><a class="sidebar-nav-item" href="{{.URL}}"> {{ .Name }} </a></li>
        	{{end}}
        {{- end }}
      </ul>
    </nav>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</aside>
